root{
    --main-blue: #3a6cf4;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(180, 220, 220);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}
.logo{
    text-decoration: none;
    color: rgb(32, 94, 73);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
nav a{
    text-decoration: none;
    color: rgb(32, 94, 73);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left:20px;
}
nav a:hover{
    color: rgb(76, 255, 255);
}
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(Image20241220160832.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}
.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}
.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
/* section main ///////////////////// */

title{
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 30px;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 15px;
    background-color: #66788e;
    width: 30%;
    height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgb(79, 79, 83);
}
.card:hover{
    transform: scale(1.1);
}
.card .icon{
    color: var(--main-blue);
    font-size: 8em;
    text-align: center;
}